absl-py==0.9.0
addict==2.3.0
anyio==2.2.0
apptools==4.5.0
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==20.1.0
Babel==2.9.0
backcall==0.2.0
bleach==3.1.5
cachetools==4.2.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
configobj==5.0.6
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
envisage==4.9.2
ffmpeg==1.4
filelock==3.0.12
future==0.18.2
gast==0.2.2
gdown==3.12.2
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
idna==2.10
imageio==2.9.0
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.5.0
jupyterlab==3.0.12
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
kornia==0.5.0
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
mrcfile==1.3.0
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.20.1
oauthlib==3.1.0
opencv-python==4.5.1.48
packaging==20.4
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
plyfile==0.7.3
prometheus-client==0.9.0
prompt-toolkit==3.0.18
protobuf==3.15.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyface==7.0.1
Pygments==2.8.1
pyparsing==2.4.6
pyrsistent==0.17.3
python-dateutil==2.8.1
pytorch-fid==0.2.0
pytz==2021.1
pyzmq==22.0.3
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-video==1.1.11
scipy==1.6.1
Send2Trash==1.5.0
six==1.14.0
sniffio==1.2.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
terminado==0.9.3
testpath==0.4.4
torch==1.9.0.dev20210322+cu111
torch-ema==0.2
torch-fidelity==0.2.0
torchaudio==0.9.0.dev20210323
torchvision==0.9.0
tornado==6.1
tqdm==4.48.2
traitlets==5.0.5
traits==6.1.1
traitsui==7.0.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
